\* Model value CONSTANT declarations
CONSTANTS
A = A
B = B
C = C

\* TODO: needed? explain
CONSTANT
Server = Server

\* CONSTRAINT definition
CONSTRAINT
constr_156894174796439000

\* SPECIFICATION definition
SPECIFICATION
Spec

\* TODO: add Model!Safety as temporal property
